body {
	background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
	url(bwbackground.jpg);o-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	  

}

#p1 {
	font-family: courier new;
	color: white;
	font-size: 100px;
	text-align: center; 
	top: 50%; 
	bottom: 55%; 
	width: 100%;

}
#p2 {
	font-family: courier new;
	color: white;
	font-size: 50px;
	text-align: center; 
	top: 70%; 
	bottom: 20%; 
	margin: 0 40px 0 40px;
	
}
 a {
 	color:white;
 	text-decoration: none;

	margin: 49px auto;
	animation: cssload-breathe 8.05s ease infinite;
		-o-animation: cssload-breathe 8.05s ease infinite;
		-ms-animation: cssload-breathe 8.05s ease infinite;
		-webkit-animation: cssload-breathe 8.05s ease infinite;
		-moz-animation: cssload-breathe 8.05s ease infinite;
}

@keyframes cssload-breathe {
	0% {
		letter-spacing: 0;
		text-shadow: 0 0 1px white;
	}
	30% {
		color: transparent;
	}
	50% {
		letter-spacing: 97px;
		font-size: 0;
		text-shadow: 0 0 6px white;
	}
	60% {
		color: transparent;
	}
	100% {
		letter-spacing: 0;
		text-shadow: 0 0 1px white;
	}
}

@-o-keyframes cssload-breathe {
	0% {
		letter-spacing: 0;
		text-shadow: 0 0 1px white;
	}
	30% {
		color: transparent;
	}
	50% {
		letter-spacing: 97px;
		font-size: 0;
		text-shadow: 0 0 6px white;
	}
	60% {
		color: transparent;
	}
	100% {
		letter-spacing: 0;
		text-shadow: 0 0 1px white;
	}
}

@-ms-keyframes cssload-breathe {
	0% {
		letter-spacing: 0;
		text-shadow: 0 0 1px white;
	}
	30% {
		color: transparent;
	}
	50% {
		letter-spacing: 97px;
		font-size: 0;
		text-shadow: 0 0 6px white;
	}
	60% {
		color: transparent;
	}
	100% {
		letter-spacing: 0;
		text-shadow: 0 0 1px white;
	}
}

@-webkit-keyframes cssload-breathe {
	0% {
		letter-spacing: 0;
		text-shadow: 0 0 1px white;
	}
	30% {
		color: transparent;
	}
	50% {
		letter-spacing: 97px;
		font-size: 0;
		text-shadow: 0 0 6px white;
	}
	60% {
		color: transparent;
	}
	100% {
		letter-spacing: 0;
		text-shadow: 0 0 1px white;
	}
}

@-moz-keyframes cssload-breathe {
	0% {
		letter-spacing: 0;
		text-shadow: 0 0 1px white;
	}
	30% {
		color: transparent;
	}
	50% {
		letter-spacing: 97px;
		font-size: 0;
		text-shadow: 0 0 6px white;
	}
	60% {
		color: transparent;
	}
	100% {
		letter-spacing: 0;
		text-shadow: 0 0 1px white;
	}
}


