 
    
@viewport{
    zoom: 1.0;
    width: device-width;
}
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
@media (max-width: 700px) {
   /* PUT CSS HERE TO ALTER WEBSITE TO SINGLE COLUMN */
}
body, html {
  height: 100%;
  vertical-align: middle;

}

html {
	background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
	url(octopus.jpg);o-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
   
}

a {
 	color:lightgrey;
 	text-decoration: none;
}
.ux, .brackets {
	color: red;
}
 .a-button{display: block;
 	color:red;
 	text-decoration; none; 
 }
.container-coder{
	margin-top: 20%;
	height: 15%;
}
.container-button {
	height: 10%;
	text-align: center;
	margin-top: 50px;

}
.coder {
	font-family: Trebuchet MS, Helvetica, sans-serif;
	color: red;
	text-align: center;
	font-size: 6vw;
	width: 100%;
	transition: all .2s ease-in-out; 
	padding: 5px;
}
.coder:hover { transform: scale(1.1); 
}
.a-button {
	font-family: Trebuchet MS, Helvetica, sans-serif;
	color: red;
	border: 5px solid red;
	border-radius: 50%;
	width: 120px;
    line-height: 120px;
	font-size: 8vw;
	font-weight: bold;
	display: inline-block;

}

.a-button:hover{
     background: darkgrey;
     transform: scale(1.1); 
}

 @media only screen and (max-width: 320px) {

       body { font-size: 1em; }