 
    
@viewport{
    zoom: 1.0;
    width: device-width;
}
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
@media (max-width: 700px) {
   /* PUT CSS HERE TO ALTER WEBSITE TO SINGLE COLUMN */
}
body, html {
  height: 70%;
  vertical-align: middle;

}

html {
	background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
	url(octopus.jpg);o-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
   
}

a {
 	color:white;
 	text-decoration: none;
}
 .a-button{display: block;
 	color:red;
 	text-decoration; none; 

 }

.container-coder{
	width: auto;
	height: 20%;
	margin-top: 200px;
}
.container-name-button {
	height: 20%;
}
.name {
	font-family: courier new;
	color: white;
	font-size: 1.5vw;
	text-align: center;
	padding: 40px;
	}
.a-button {
	font-family: courier new;
	color: red;
	font-size: 1.7vw;
	font-weight: bold;
	padding: 1vw;
	border: .2vw solid red;
	border-radius: 6px;
	display: inline-block;
	margin-left: 50%;
	transform: translateX(-50%);
}
.a-button:hover{
     background: grey;
}
.ux, .brackets {
	color: red;
	
}

.coder {
	font-family: courier new;
	color: red;
	text-align: center;
	font-size: 4vw;
	width: 100%;
	transition: all .2s ease-in-out; 
}
.coder:hover { transform: scale(1.1); 
}

	