@viewport{
    zoom: 1.0;
    width: device-width;
}
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
body, html {
  height: 100%;

}

html {
	background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
	url(cover.jpg);o-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	}

.coder:hover
{
 
  transform: scale(1.1);
  position: center;
    
}

.coder {

    height: 80px;
	font-family: courier new;
	font-weight: medium;
	color: white;
	text-align: center;
	font-size: 120px;
	position: relative;
	margin-top: 20%;
}
.container{
	
	height: 160px;
	margin: top 20%
}

.name {
	font-family: courier new;
	color: white;
	font-size: 35px;
	text-align: center; 
	padding: 5px;
	margin-top: 10%;


}

a {
 	color:white;
 	text-decoration: none;
 }
